numpy==1.19.2
convertdate
hijri-converter==2.1.1
holidays==0.10.5.2
korean-lunar-calendar==0.2.1
pystan==2.19.1.1
fbprophet==0.7.1
pyarrow
pandas==1.1.4
streamlit>=0.66
pyspark>=3.0.0
scikit_learn==0.24.1
